body {
	margin: 0;
	font-family: Monaco, Verdana, sans-serif;
}

#nav-mobile {
	display: none;
}
#nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 20px;
	background: black;
    color: white;
    padding: 15px;
    font-size: 12px;
}

#nav ul {
	display: flex;
    list-style: none;
}

#nav ul li {
	margin-right: 15px;
}

#nav ul li a {
	color: white;
}

#text-header {
	background-image: url("./extra/italian-flag.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 350px;
	color: white;
}

#text-header h1 {
	display: flex;
	font-size: 40px;
	padding-top: 40px;
	justify-content: center;
	margin-top: 0px;
}

#text-header p {
	display: flex;
	font-size: 20px;
	justify-content: center;
}

#text-header button {
	display: flex;
    align-items: center;
    margin: 75px auto 0;
    border: none;
    border-radius: 5px;
}

#text-header button a {
	display: flex;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    justify-content: center;
    color: black;
}
#contact {
  background-color: #e4e4dce6;
}

#contact h1 {
	text-align: center;
}

#contact a {
	display: flex;
	justify-content: center;
}

#googleMap {
	width:100%; 
	margin-top: 15px;
}

#contact p {
	display: flex;
}

#gallery h1 {
	text-align: center;
}

#gallery a {
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
}

.wrapper {
	width: 95%;
	margin: 0 auto;
}

.inner-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 25px;
	justify-content: space-between;
}

.photo4 {
	grid-area: 2 / 1 / span 2 / span 3;
}

.inner-grid img {
	width: 100%;
	height: 100%
}

#products h1 {
	text-align: center;
}

#products a {
	display: flex;
	justify-content: center;
}

.wrapper2 {
	margin: 0 auto;
	width: 75%;
}

.inner-grid2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 30px;
	grid-row-gap: 15px;
	justify-content: space-around;
}

.prod1, .prod2, .prod3, .prod4, .prod5, .prod6 {
	margin: 0 auto;
}

.prod1 h2, .prod2 h2, .prod3 h2, .prod4 h2, .prod5 h2, .prod6 h2 {
	text-align: center;
}

.inner-grid2 p {
	width: 275px;
}

#team h1 {
	text-align: center;
}

#team a {
	display: flex;
	justify-content: center;
}

.wrapper3 {
	margin: 15px auto 0 auto;
	width: 95%;
}

.inner-grid3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 10px;
	grid-row-gap: 25px;
	justify-content: space-between;
}

.inner-grid3 img {
	width: 100%;
	height: 100%;
}

footer {
	background-color: black;
	color: white;
	text-align: center;
}



/*for mobile screen 
(less than 800 max width 460px)
BREACKPOING AT 460px*/

@media all and (max-width: 460px) {
	
	body {
		background-color: #FAFAE2;
	}

	.inner-grid, .inner-grid2, .inner-grid3 {
    	display: flex;
    	flex-direction: column;
	}

	.wrapper, .wrapper3 {
		width: 100%;
	}

	footer p {
		font-size: 10px;
	}



	#text-header p, #text-header h1 {
		text-align: center;
	}

	.prod1, .prod2, .prod3, .prod4, .prod5, .prod6 {
		display: flex;
		flex-direction: column;
	}

	.inner-grid2 p {
		width: auto;
	}

	#nav h1 {
		font-size: 18px;
	}

	#nav {
		display: none;
	}

	#nav-mobile {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 20px;
		background: black;
	    color: white;
	    padding: 15px;
	    font-size: 12px;
	    height: 150px;
	}

	#nav h1 {
		justify-content: center;
	}

	#nav-mobile ul {
		display: flex;
	    list-style: none;
	}

	#nav-mobile ul li {
		margin-right: 15px;
	}

	#nav-mobile ul li a {
		color: white;
		text-decoration: none;
		font-size: 22px;
	}
}
